@charset "UTF-8";
body{
  background-color: rgba(127, 152, 197, 0.925);
}
.mainpicture{
  position: relative;
  height: 600px;
  text-align: center;
}
.maintitle{
  position: absolute;
  margin-left: 200px;
}
.allteam{
  text-align: center;
}
.team{
  display: flex;
  align-items: center; 
  justify-content: center;
}
h2{
  color: white;
}
.subpicture{
  position: relative;
  text-align: center;
  width: 500px;
}
.butter{
  position: absolute;
  width: 600px;
}
.teampage{
  position: absolute;
  width: 1300px;
}